/**
 * 
 * @Author: Jyotirmay
 * @Date: 28th October, 2016
 * 
 * Login Styles
 *
 */

.login-wrapper{
  background-color: white;
  width: 20%;
  margin: 10px auto;
  vertical-align: center;
}

#comment_section {
  display: none;
}