<!-- @author: Jyotirmay Senapati, @Date: 01st October, 2016, @Description: Basic application layout -->

<!--div class="base_body"-->
<div id="base_center">
	<header id="page_header">
		<a href="http://www.jyotirmaysenapati.com">
			<img src="app/images/myblog.ico" id="logo" width="150px" height="75px" alt="logo" />
		</a>
		<p id="tag_line"> My Blog Engine</p>
		<div class="social_group">
			<a href="https://github.com/jyotirmay123" target="_blank">
				<i class="fa fa-github-square" style="font-size:36px"></i>
			</a>
			<a href="https://twitter.com/Shaan_143" target="_blank">
				<i class="fa fa-twitter-square" style="font-size:36px"></i>
			</a>
			<a href="https://www.facebook.com/Shaan.Exile" target="_blank">
				<i class="fa fa-facebook-square" style="font-size:36px"></i>
			</a>
			<a href="https://in.linkedin.com/in/jyotirmay-senapati-30615421" target="_blank">
				<i class="fa fa-linkedin-square" style="font-size:36px"></i>
			</a>
			<a href="http://stackoverflow.com/users/3861545/jyotirmay" target="_blank">
				<i class="fa fa-stack-overflow" style="font-size:36px"></i>
			</a>
		</div>
	</header>

	<nav id="page_nav">
		<ul>
			<li><a routerLink="blog" routerLinkActive="active">Home</a></li>
			<li><a routerLink="blog/new">New Blog</a></li>
			<li><a routerLink="blog/sample">Sample Blog</a></li>
			<li><a routerLink="blog/contact">Contact Me</a></li>
			<li><a routerLink="blog/login">Login/Register</a></li>
		</ul>
	</nav>

	<!--aside id="left_aside">
             <ul>
                <li><a routerLink="blog/new">New Blog</a></li>
                <li><a routerLink="blogc">Sample Blog</a></li>
                <li></li>
                <li></li>
            </ul>
        </aside-->

	<section id="main_section">
		<router-outlet></router-outlet>
	</section>
	<section id="comment_section">
		<facebookComment></facebookComment>
		<tk></tk>
	</section>
	<footer id="page_footer">
		Copyrights by jyotirmaysenapati.com
	</footer>
</div>
<!--/div-->